<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrightStar/profile</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- link to fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- link to icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="container">
            <a href="/" class="Logo">Bright<span>Star</span></a>
             <nav class="header-nav">
                <ul class="header-ul">
                    <li class="header-li">
                        <a href="/astroPhoto">Астрофотографія</a>
                    </li>
                    <li class="header-li">
                        <a href="https://esahubble.org/images/archive/category/stars/" target='_blank'>Архів Фото</a>
                    </li>
                    <li class="header-li">
                        <a href="/instruction">Інструкція</a>
                    </li>
                     {{#ifEquals login 'admin'}}
                    <li class="header-li">
                         <a href="/reviews">Відгуки</a>
                    </li>
                    {{/ifEquals}}
                </ul>
            </nav>
            {{#ifEquals account 'is'}}
            <ul class="header-ul">
                <li class="header-li">Привіт {{login}}!
                    <ul class="header-sub-ul">
                        <li class="header-sub-li"><a href="/profile">Профіль</a></li>
                        <li class="header-sub-li"><a href="/logout">Вийти</a></li>
                    </ul>
                </li>
            </ul>
            {{else}}
            <div class="buttons-list">
                <a href="/login" class="btn">Увійти</a>
                <a href="/register" class="btn">Реєстрація</a>
            </div>
            {{/ifEquals}}
        </div>
    </header>
    <button type="button" id="menu-icon"><i class='bx bx-menu-alt-right'></i></button>
    <main class="profile-main">
        <div class="container">
            <section class="profile">
                <form action="/profile-update" method="post" class="profile-card" id="profile-form"
                    enctype="multipart/form-data">
                    <input type="file" name="inputProfile" id="input-profile">
                    <label for="input-profile">
                        <img src="{{img}}" class="profile-img" alt="profile-pic">
                    </label>
                    <h2 class="profile-h2">{{login}}</h2>
                    <input type="text" class="profile-description" name="describsion" id="describsion"
                        placeholder="{{description}}">
                    <p class="profile-p">{{message}}</p>
                    <button type="submit" class="btn">Зберегти</button>
                </form>
                <div class="profile-starsCounter">
                    <h2 class="profile-starsCounter-h2">Історія Підрахунків:</h2>
                    <ul class="profile-starsCounter-ul">
                        <ul class="profile-ul">
                            {{#each arrayOfStars as |stars index|}}
                            <li>
                                <img class="profile-image" src="uploads/{{lookup ../arrayOfIMG index}}" alt="Image">
                                <p>Кількість зірок: {{stars}}</p>
                            </li>
                            {{/each}}
                        </ul>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <script src="js/srcipt.js"></script>
</body>

</html>